@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-brand-50: #fdf2f8;
    --color-brand-100: #fce7f3;
    --color-brand-500: #ec4899;
    --color-brand-900: #831843;
  }
}